<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Условный рендеринг. Директива v-if и v-show</title>
</head>
<body>

<div id="app">
    <div v-if="visible">
        <h1>Заголовок 1</h1>
        <p>Параграф 1</p>
    </div>
    <div v-else>
        <h1>Заголовок 2</h1>
        <p>Параграф 2</p>
    </div>
    <button v-on:click="visible=!visible">{{ visible ? 'К параграфу 2' : 'К параграфу 1' }}</button>
    <hr>
    <div v-show="visible">
        <h2>Заголовок</h2>
        <p>Текст</p>
    </div>
    <hr>
    <input type="number" v-model="number" />
    <p v-if="number==1">Один</p>
    <p v-else-if="number == 2">Два</p>
    <p v-else-if="number > 2 && number < 7">Несколько</p>
    <p v-else>Много</p>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script>
Vue.createApp({
    data() {
        return {
            visible: true,
            number: 1
        }
    }
}).mount('#app');
</script>
</body>
</html>
